
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "partials/main";

@import "partials/forms";

@import "partials/custom";

@import "partials/navbar";

@import "partials/buttons";

@import "partials/social";

html {
	
	min-height: 100%;
}
body {
    font: $font-stack !important;
    padding-top: 70px;
}

img {
    
    width: 100%;
}

.gallery-image {
    
    margin-bottom: 1em;
    padding: 10px;
}

.property .description {
	
	margin-bottom: 1em;	
}

.row {
	
	margin-bottom: 1em;
}

#navbar {
	
	margin-bottom: 0px;
}

// Home page
#home-banner {
	
	background: $primary-color;
	margin-top: -20px;
	margin-bottom: 20px;

	padding: 50px;
}

#home-banner .page-title {
	
	color: white;
}