
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "partials/main";

@import "partials/forms";

@import "partials/custom";

@import "partials/navbar";

@import "partials/buttons";

@import "partials/social";

html {
	
	min-height: 100%;
}
body {
    font: $font-stack !important;
    padding-top: 70px;
}

img {
    
    width: 100%;
}

.gallery-image {
    
    margin-bottom: 1em;
    padding: 10px;
}

.property .description {
	
	margin-bottom: 1em;	
}

.row {
	
	margin-bottom: 1em;
}

#navbar {
	
	margin-bottom: 0px;
}

#navbar .dropdown.open {
	
	background-color: darken($major-color, 10%);
}

#navbar .dropdown-menu {
	
	background-color: $major-color;
}

// Home page
#home-banner {
	
	background: $primary-color;
	margin-top: -20px;
	margin-bottom: 20px;

	padding: 50px;
}

#home-banner .page-title {
	
	color: white;
}

// footer

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 120px; /* bottom = footer height */
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 120px;
    width: 100%;
    padding: 10px;
    background-color: #34495E;
    padding: 25px;
}

footer ul li {
	
	list-style-type: none;
}

footer ul li a {
	
	color: white;
}