.btn {
	
	
}

.btn-primary {
	
	background-color: $major-color !important;
	border: 1px solid $major-color;
}

.btn {
	
	border-radius: 3px !important;
}

.btn-primary:hover {
	
	background-color: darken($major-color, 10%) !important;
}